/****** 
GENERAL
******/
h2,
h3,
h4 {
	text-transform: uppercase;
}

h4 {
	font-size: .8em;
	font-weight: normal;
	margin-bottom: 20px;
}

a {
	color: white;
	text-decoration: none;
}

.App {
	text-align: center;
}

.App .flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.App .fcol {
	flex-direction: column;
	justify-content: center;
}

.fullWidth {
	width: 100%;
}

.MuiButton-root {
	width: 150px;
	height: 45px;
	margin: 20px!important;
	color: white!important;
	border: white solid 2px!important;
	border-radius: unset!important;
}

.MuiChip-root {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.MuiPaper-elevation1 {
	box-shadow: none!important;
}

.MuiPaper-root {
	color: unset!important;
	transition: none!important;
	background-color: unset!important;
}

section {
	padding: 50px 0;
}

button {
	font-size: .75em;
	letter-spacing: .25em;
	line-height: 120%;
}

button .fas {
	padding-left: 10px;
}

.subhead {
	font-weight: 500;
	letter-spacing: .125em;
}

.quote {
	font-style: italic;
	font-family: "Playfair", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.author {
	font-size: .8em;
}

.img-thumb {
	max-width: 350px;
	min-width: 200px;
	width: 20%;
	height: auto;
	margin-bottom: 10px;
}


/***
HOME
***/

.feat-head {
	width: -webkit-fill-available;
	width: -moz-available;
	font-size: 1em;
	font-weight: 300;
	letter-spacing: .5em;
}

.hero,
.recent {
	color: #fff;
}

.home {
	display: flex;
	align-items: center;
}

.hero {
	height: calc(100vh - 80px);
	background: linear-gradient( rgba(32, 41, 69, 0.77), rgba(32, 41, 69, 0.77) ), url('../../assets/img/michelle-tsang-VTt_Jn1LrOg-unsplash.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.recent {
	background-color: #BF4953;
}

.about {
	background: linear-gradient( rgba(220, 191, 165, 0.84), rgba(220, 191, 165, 0.84) ), url('../../assets/img/priscilla-du-preez-428495.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.about .logo {
	width: 120px;
	vertical-align: middle;
}

div > .fas {
	padding: 0 10px;
}

.download {
	width: 230px;
	border: black solid 2px!important;
}

.download a {
	color: black!important;
}

/********
PORTFOLIO
********/

.portfolio {
	background: #202945;
	color: white;
}

/*****
FOOTER
*****/

footer {
	background: #202945;
}

.Footer {
	height: 230px;
	color: white;
	clear: both;
}

.Footer li {
	display: block;
	font-size: 1.125em;
	flex-wrap: wrap;
	padding: 10px 0px;
}

/************
MEDIA QUERIES
************/

@media screen and (min-width: 451px) {
	.Footer {
		height: 170px;
	}

	.Footer li {
    font-size: 1em;
    display: inline-block;
	}
}

@media screen and (max-width: 768px) {
	.hero .flex {
		flex-direction: column;
		justify-content: center;
	}

	.hero img {
		order: -1;
	}
}