.Footer {
	position: absolute;
	display: flex;
	height: 275px;
	bottom: 0;
	width: 100%;
	background: #202945;
	color: white;
	margin-top: -275px;
	clear: both;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Footer li {
	display: block;
	font-size: 1.125em;
	flex-wrap: wrap;
	padding: 10px 0px;
}

@media screen and (min-width: 451px) {
	.Footer {
		height: 170px;
		margin-top: -170px;
	}

	.Footer li {
    font-size: 1em;
    display: inline-block;
	}
}